Makefile.coq
Makefile.coq.conf
Makefile.config
*~
.#*
*.vo
*.v.d
*.glob
*.aux
*.ctoj
.DS_Store
_CoqProject
.coqdeps.d
ergo-*.tgz
*.log
**/_build
**/node_modules
**/log
**/.nyc_output
**/coverage
generator-ergo-serverless/
