# NB: This file must exist, since otherwise the .gitignore preferences will be used,
# which will ignore the lib directory
Makefile*
ergo-*.tgz
src
mechanization
extraction
_CoqProject
bin/ergoc.native
