language: node_js
node_js:
- '8'
dist: trusty
before_install: |
  set -e
  export PATH="./$HOME/node_modules/.bin:$PATH"
  npm install -g @alrra/travis-scripts
  date
install: |
  set -e
  date
  npm install -g lerna
  lerna bootstrap 2>&1
  date
script: lerna run test 2>&1
deploy:
    provider: script
    script: ./.travis/deploy.sh
    skip_cleanup: true
    on:
        all_branches: true
after_failure: tail -n +1 -- /home/travis/.npm/_logs/*-debug.log
cache:
  directories:
  - node_modules
sudo: required
services: 
